/* =============== BEGIN GLOBAL STYLES =============== */

body {
    background-image: url(../img/ernest-ojeh-1398587-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Major Mono Display', monospace;
}

.container-fluid {
    padding: 2em;
    height: 100vh;
}

/* =============== END GLOBAL STYLES =============== */

/* =============== BEGIN JS APP CONTENT STYLES =============== */

#app {
    padding: 2em 0em 0em 0em;
}

.question_Block {
    margin: 1em 0em 3em 0em;
}

.question_container {
    font-size: 1em;
    /* just a placeholder */
}

.answer_Container {
    padding: 1em 0em 0em 0em;
}

.buttonChoice {
    margin: 0em 1em 0em 0em;
}

.buttonChoice:hover {
    background: lightgray;
}

/* =============== END JS APP CONTENT STYLES =============== */