/* =============== BEGIN GLOBAL STYLES =============== */
html {
    background: orangered;
}

body {
    background-image: url(../img/moon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Major Mono Display', monospace;
  
    font-size: 1em;
}

.container-fluid {
    padding: 2em;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

.bold {
    padding: .2em;
    font-style: italic;
    background: orangered;
    color: black;
}


/* =============== END GLOBAL STYLES =============== */

/* =============== BEGIN JS APP CONTENT STYLES =============== */

#app {
    padding: 2em 0em 0em 0em;
}

#timer {
    font-size: 1.5em;
    color: orangered;
}

.question_Block {
    margin: 1em 0em 2em 0em;
}

.question_container {
    font-size: 1em;
    /* just a placeholder */
}

.answer_Container {
    padding: 0em 0em 0em 0em;
    transition-duration: 1s;
    background: none;
}

.buttonChoice {
    margin: 0em 1em 0em 0em;
    border: 0.5px solid black;
    transition-duration: 0.2s;
}

button:focus {
    outline: none;
}

.buttonChoice:hover {
    background: orangered;
    border: 0.5px solid orangered;
}

.active {
    background-color: orangered;
    color: white;
    border: 0.5px solid orangered;
}

#run {
    background: black;
    color: orangered;
}


/* Flash class and keyframe animation */
.blink {
    color:#f2f;
      -webkit-animation: flash linear 0.8s infinite;
      animation: flash linear 0.8s infinite;
  }
  @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .2; } 
      100% { opacity: 1; }
  }
  @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .2; } 
      100% { opacity: 1; }
  }
/* =============== END JS APP CONTENT STYLES =============== */

/* =============== BEGIN MODAL STYLES =============== */
.modal {
    width: 100%;
    min-height: 100vh;
    background: red;
    color: white;
    z-index: 10;
}

/* =============== END MODAL STYLES =============== */

